/* Обнуляющий стиль */
* {
   padding: 0; /* Отступ внутренний */
   margin: 0; /* Отступ внешний */
   border: 0; /* Граница */
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   pad: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*......... Обнуляющий стиль конец............... */

/* ......................Header.................. */
*{
   font-family: 'Roboto';

}
body{
   background-color: #ffaec9;
}
.border {
   border: 2px solid black;
   border-radius: 10px;
}

.body-container {
   min-height: 100%;
   margin: 0 auto;
   position: absolute;
}
/* .............Header................ */
.header_container {
   padding: 0 20px;
   display: flex;
   position: fixed;
   box-shadow: 0 0 10px rgb(0 0 0 / 50%);
   min-height: 70px;

   min-width: 100%;
   overflow: hidden;
   z-index: 5;
   align-items: center;
}
.header_container::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: #ffaec9;
   z-index: 2;
}
.header-logo_container{
   flex: 0 0 40%;
   z-index: 3;
}
.header-logo_container img{
   width: 160px;
   height: 54px;
}
.header_menu{
   z-index: 4;
}
.header-navigation__container {
   display: flex;
   flex:0  0 60%;
   justify-content: start;
   align-items: center;
   width: 100%;
}
.header-navigation__item__active {
   padding: 4px 0;
   padding: 8px 16px;
   font-size: 18px;
}
.header-navigation__item__active a {
   color: #0675ad;
}

.header-navigation__item__active:hover {
   background-color: white;
   border-radius: 20px;
}

/* ...............Content...................... */
.main-container {
   margin-top: 70px;
   padding: 10px 15px;
   display: flex;
   min-height: 100px;
   position: relative;  
}

.posts-container {
   width: 60%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.posts-container_content {
   position: relative;
   padding: 15px 20px;
   display: flex;
   flex-direction: column;
   margin: 0 15px 15px 15px;
}

.content_info{
   display: flex;
}
.content_info .user_logo{
   flex: 0 1 43%;
}

.content_info img{
   width: 35px;
   margin-right: 5px;
}

.content_info .user_logo{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding-right: 10px;
}

.content_info .content_date{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.content_info .text {
   font-size: 20px;
   font-weight: 400;
}
.posts-container_content .wrapper{
   max-width: 800px ;
}
.posts-container .post_item{
   font-size: 18px;
   margin-top: 20px;
}
.post_item_image{
   margin-top: 20px;
   box-shadow: 0 0 10px black;
   flex: 0 0 80%;
}
.post_item img{
   max-width: 100%;
}
.post_item p{
   font-size: 14px;
}
.content_like_row {
   display: flex;
   justify-content: start;
   margin: 20px 10px;
   flex-wrap: wrap;
}
.like {
   display: flex;
   align-items: center;
   margin-right: 50px;
}
.like_img img{
   margin-right: 10px;
}
.like_text {
   font-size: 22px;
}
.comment {
   display: flex;
   align-items: center;
}
.comment_img img{
   width: 32px;
   margin-right: 10px;
}
.comment_text {
   font-size: 22px;
}
.content_like_row button{
   background: none;
}
.content_like_row button :active{
   animation: no;
}
.about-container {
   position: relative;
   height: 350px;
   width: 20%;
}

.user_info{
   margin: 20px auto ;
   text-align: center;
}
.user_info span{
   font-size: 20px;
}
.user_info div{
   margin-bottom: 20px;
}
.about_wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.about_logo{
   margin: 20px 0;
   position: relative;
   min-width: 100%;
}
.about_logo .logo_item{
   text-align: center;
   min-width: 100%;
   z-index: 1;
   display: block;
   opacity: 0.5;
}
.logo_item img{
   max-width: 100%;
}
.about_logo::after{
   position: absolute;
   content: '';
   background-color: black;
   height: 2px;
   width: 100%;
   top:20px;
}
.about_logo::before{
   position: absolute;
   content: '';
   background-color: black;
   height: 2px;
   width: 100%;
   bottom:20px;
}

.info-container {
   flex: 1 1 20%;
   max-height: 200px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.info-container .info-wrapper{
   text-aligncenter: center;
}

.today {
   font-size: 20px;
   font-weight: 600;
   text-align: center;
}
.today_date {
   text-align: center;
   margin-top: 10px;
}
.today_date img{
   width: 35px;
}
.date_text {
   font-weight: 600;
   text-align: center;
   margin-top: 8px;
}
.today_holiday {
   text-align: center;
   margin-top: 20px;
}
.today_holiday_name {
   margin-top: 20px;
   font-weight: 600;
   text-align: center;

}
.header-burger{
   display: none;
}
/* ............Media styles................. */

@media (max-width:992px){
   .header-navigation__container{
      justify-content: end;
   }

   .info-container {
      padding: 10px;
   }
   .user_info{ 
      padding: 0 10px;
   }
   .content_info .text{
      font-size: 14px;
   }
   .posts-container .post_item{
      margin-top: 10px;
   }
   .content_info{
      display: flex;
      justify-content: space-between;
   }
   .like_text,.comment_text{
      font-size: 18px;
   }
   .content_like_row{
      margin:20px 0 0 10px;
      justify-content: space-between;
   }
   .content_like_row img{
      width: 24px;
   }
}

@media (max-width:767px){
   body.lock{
      overflow: hidden;
   }
   .header_container{
      min-height: 50px;
      justify-content: space-between;
   }
   .header-logo_container{
      flex: 0 0 100px;
   }
   .header-logo_container img{
      width: 100%;
      height: 100%;
   }
   .header_menu{
      overflow: auto;
      padding: 60px 0 0 0;
      display: flex;
      justify-content: flex-end;
      align-items:flex-start;
   }
   .header-navigation__item__active{
      margin-bottom: 30px;
      font-size: 30px;
   }
   .header-navigation__container{
      margin: 40px auto 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /*min-height: 100%;*/
   }
   .main-container {
      flex-direction: column;
      align-items: center;
   }
   .info-container{
      display: flex;
      flex-direction: row;
      min-width: 100%;
      order: 2;
      margin-top: 14px;
      padding: 20px 0;
      justify-content: space-around;
      align-items: center;
   }
   .info_item .today_holiday {
      margin: 0;
   }
   .info_item .today{
      font-size: 18px;
   }
   .today_holiday_name{
     line-height: 20px;
   }
   .today_date{
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
   .today_date img{
      display: inline-block;
   }
   .posts-container{
      order: 3;
      width: 100%;
      margin-top: 14px;
   }
   .posts-container_content{
      margin: 10px 0 0 0;
   }
   .post_item p{
      font-size: 16px;
   }
   .about-container{
      order:1;
      width: 100%;
      flex-direction: row;

   }
   .about_wrapper{
      flex-direction: row;
      justify-content: flex-end;
   }
   .about_logo::after, .about_logo::before{
      display: none;
   }
   .about_logo {
      min-width: 50%;
   }
   .about-container{
      height: 200px;
   }
   .like_img img{
      width: 24px;
   }

   .header_menu{
      position: fixed;
      top:-100%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgb(255, 97, 129);
   }
   .header_menu.active{
      top:0;
      transition: all 0.3s ease 0s;

   }

   .header-burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      /*left: 200px;*/
   }

   .header-burger::before,
   .header-burger::after{
      content:'' ;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: rgb(111, 162, 227);
      left:0;
      transition: all 0.3s ease 0s;

   }
   .header-burger::before{
      top: 0;
   }
   .header-burger::after{
      bottom: 0;
   }
   .header-burger.active::before{
      transform: rotate(-45deg);
      top: 9px;
   }
   .header-burger.active::after{
      transform: rotate(45deg);
      bottom: 9px;

   }
   .header-burger span{
      position: absolute;
      width: 100%;
      height: 2px;
      top: 9px;
      background-color: rgb(111, 162, 227);
      left:0;
      transition: all 0.3s ease 0s;
   }
   .header-burger.active span{
      transform: scale(0);
   }
   body.lock{
      overflow: hidden;
   }
}

